*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.Button{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 10px;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.585);
}


nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin: 0 120px;
    align-items: center;
}

nav .menu{
    list-style-type: none;
    display: flex;
    gap: 32px;
    max-width: 365px;
    /* align-items: center; */
}

nav .menu a{
    
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

#banner{
    margin-top: 16px;
    background: url(./assets/hero-bg.png);
    position: relative;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
}

.banner-content{
    position: relative;
    width: 48%;
    max-width: 770px;
}

.banner-btn1{
    color: #469165;
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    margin-bottom: 16px;
    border: none;
}

#banner h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner h1 span{
    color: #30B868;
}

#banner p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 45px 16px;
}

.banner-btn2{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.second-button{
    background: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 16px 16px 46px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;

}

#features-section{
margin-top: 44px;
}

#features-section .features-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.section-heading{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;

}

.section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

#features-section .features-container .features-card{
    display: flex;
    gap: 24px;
}

.features-card .card{
    max-width: 322px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 50px 0 #00000016;
    text-align: center;
}

.features-card img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 1000px;
}

.features-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-top: 16px;
}

.features-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}

#knowledge{
    margin: 120px;
    
}

.knowledge-container{
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
    align-items: center;
}

.knowledge-info{
    width: 700px;
}

.knowledge-container img{
    max-width: 600px;
    border-radius: 12px;

}

.knowledge-info h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.knowledge-info h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.knowledge-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.knowledge-info-points img{
    max-width: 20px;
}

.knowledge-info-point{
    gap: 6px;
    display:flex;
    font-size: 16px;
    font-family: 500;
    line-height: 20px;
    color: #001931;
}

#early-access .container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 120px;
}

.container{
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.container h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.container p{
    font-size: 26px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

footer{
    background-color: #001931;
    margin-top: 120px;
}

#footer-container .footer-contant{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    padding: 120px;
    display: flex;
    justify-content: space-between;
}

.footer-contant img{
    max-width: 139px;
}

.footer-container .social{
    max-width: 220px;
}

.footer-container .social h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

#footer-container .icons a{
    margin-right: 16px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    max-width: 20px;
}

footer p{
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px;
}

